@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2');
}

html * {
    font-family: 'Open Sans';
    color: #eee;
    background: #222;
}

a:link,
a:visited {
    color: #38c;
    text-decoration: none;
}